<!-- views/partials/footer.ejs -->


    <div class="footer-container">
        <div class="footer-section">
            <a href="/" class="logo"><img src="/img/Logo_text.png" alt="logo" /></a>
            <p>Copyright@2024</p>
        </div>
        <div class="footer-section">
            <h3><%= __('Content')%></h3>
            <ul>
                <li><a href="/#problems"><%= __("User's Problems")%></a></li>
                <li><a href="/#why-choose-us"><%= __('Why choose us')%></a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3><%= __('Legal')%></h3>
            <ul>
                <li><a href="#" target="_blank"><%= __('Document')%></a></li>
                <li><a href="/term-of-service" target="_blank"><%= __('Terms of service')%></a></li>
                <li><a href="/private-policy" target="_blank"><%= __('Privacy policy')%></a></li>
                <li><a href="/refund-policy" target="_blank"><%= __('Refund policy')%></a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3><%= __('Connect us')%></h3>
            <ul>
                <li><a target="_blank" href="https://www.facebook.com/profile.php?id=61557597304862">
                  <img src="/img/facebookIcon.png" alt="1" class="fb">
                  Facebook</a></li>
                <li><a target="_blank" href="https://www.youtube.com/channel/UCwyZK7ZjboNm0IZCLhWpp-g"><img src="/img/youtubeIcon.png" alt="" class="ytb">Youtube</a></li>
                <li><a target="_blank" href="https://twitter.com/Ezinstatool"><img src="/img/twitterIcon.png" alt="" class="x">X.com</a></li>
            </ul>
        </div>
    </div>


